.img-circle {
    padding-top: 20px;
    border-radius: 50%;
}

#top_main_section {
    display: table-row;
    width: 100%;
}

.left-cell {
    display: table-cell;
    float: left;
    width: 25%;
}

.right-cell {
    display: table-cell;
    float: right;
    width: 75%;
}

.experience-item {
    margin-bottom: 10px;
}
