{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">PREVIOUS POST:<br /> {{ page.previous.title | markdownify | strip_html }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">No Previous Post</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">NEXT POST:<br /> {{ page.next.title | markdownify | strip_html }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">No Next Post</a>
    {% endif %}
  </nav>
{% endif %}
